
modified_KS/data/trajectory.mat
modified_KS/data/derivative_matrix.mat
RogueWaves/G.mat
RogueWaves/xygrid_50cm_20231124_1300_plane_sub.nc
RogueWaves/xygrid_50cm_20201119_1100_plane_sub.nc
RogueWaves/xygrid_50cm_20200104_1040_plane_sub.nc
RogueWaves/peaks.avi
